<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udev.ordinaryweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ACTION_DISPLAY_FORECAST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayWeatherActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ListDataActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListDataActivity" />
        </activity>

        <service android:name=".RequestDataService"
            android:description="@string/service_description" />

        <receiver android:name=".DisplayWeatherActivity$DataBroadcastReceiver"
            android:description="@string/broadcastreceiver_description"/>
    </application>

</manifest>
